/* This file is for your main application css. */
.main{
    margin: 30px;
    margin-top: 15px;
}

nav.navbar {
    margin-bottom: 15px;
}

.top-header {
    border-bottom: 1px solid gray;
    margin-bottom: 50px;
}
